$background-color:#f7f7f0;
$light-yellow:#ddffbc;
$light-green:#85b87c;
$text-color:#52734d;
$black:rgb(46, 44, 44);
$white:#fff;
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/**********************Extend***********************/
%background-image{
    height:100vh;
    width:100%;
    background-image:url(../images/healthy.jpg);
    background-size:cover;
}
%text-decoration-reset{
    color:$black;
        text-decoration: none;
}
%search-input{
    border:none;
    background-color:transparent;
    border-bottom:1px solid black;
}
/**********************mixins***********************/
@mixin hover($color,$bColor,$hover){
        color:$color;
        background-color:$bColor;
        transition: 0.3s; 
        text-decoration: $hover;
}

@mixin flex($js,$ac){
    display:flex;
    justify-content: $js;
    align-content:$ac;
}
@mixin container($tb,$lr,$radius,$bColor){
    padding:$tb $lr;
    border-radius: $radius;
    background-color:$bColor;
}
/**********************body, root***********************/

body{
    font-family: 'Zen Dots', cursive;
    @extend %background-image;

}
#root{
    @extend %background-image;
}

/**********************Buttons, Select, Input***********************/
.button-default{
    font-size:1rem;
    padding:0.5rem;
    font-family: 'Zen Dots', cursive;
    background-color:$light-yellow;
    color:$black;
    border:none;
    border-radius: 0.5rem;
    margin:1rem 0;
    &:hover{
        @include hover($white,$text-color,unset);
    }
}

.button-back{
    margin:1rem 2rem;
    float: right;
    a{
        @extend %text-decoration-reset;
        &:hover{
            color:white;
        }
    }
}

/**********************Container***********************/
.content-container{
    @include container(5%,5%,0.25rem,unset);
}

.search-container{
    @include container(4%,10%,0.25rem,$background-color);
}

.food-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    @include container(1rem,1rem,0.25rem,$background-color);
}

/**********************Etc***********************/
.Loading{
    text-align: center;
}
.line-through{
    text-decoration: line-through;
}

/**********************Home/Nav, Nav-bar***********************/

.logo{
    max-width:70px;
    max-height:70px;
}
.nav-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    p{
        margin:2rem 0;
        @extend %text-decoration-reset;
        &:hover{
            @include hover($text-color,transparent,underline);
        }
    }
}

.nav-bar{
    @include flex(center,center);
    padding-bottom:1rem;
    a{
        margin:auto 1rem;
        @extend %text-decoration-reset;
        &:hover{
            @include hover($text-color,transparent,underline);
        }
    }
}

/**********************Search Page***********************/

//Calculator
.Instruction{
    line-height: 1.6rem;
    color:$black;
}

.calculator{
    color:$text-color;
    input{
        @extend %search-input;
        margin:1rem 0;
        font-size:1rem;
    }

    select{
        margin:1rem 0;
    }
}

.calSearch{
@include flex(space-around,unset);
  flex-wrap: wrap;
}

.result{
    margin:1rem 0;
}
.resultNumber{
    font-size:1.5rem;
    color:$light-green;
}

//Complex search
.searchOption{
    display:flex;
    margin:1rem 0;
}
.searchInput{
    @extend %search-input;
    padding:10px;
    font-size:1rem;
    max-width:3rem;
}
.searchSelect{
    max-width:3rem;
}
.searchLabel{
    min-width: 7rem;
    border-bottom:1px solid black;
    text-align: right;
    margin-top:1rem;
}

/**********************Results container***********************/
    .food-item{
        @include flex(center, unset);
        flex-direction: column;
        text-align: center;
        margin:0.5rem 0.5rem;
        a{
            max-height:50px;
            @extend %text-decoration-reset;
            &:hover{
                @include hover($text-color,transparent,underline);
            }
        }
        }
        .food-img{
            margin-top:1rem;
            width:100%;
            padding:3% 3%;
        }

/**********************Generate Random Recipe Page***********************/
.generateRandom{
    @include flex(center,center);
}

/**********************Recipe Detail page***********************/
.recipe-detail-container{
    padding:1rem 5rem;
}
.recipe-detail{
    max-height:40rem;
    font-family: 'Roboto', sans-serif;
    color:$black;
    font-size:1rem;
    overflow:auto;
    @include container(2%,5%,0.5rem,$background-color);
}
    .recipe-image{
        max-width: 85%;
        height: auto;
        border-radius: 0.25rem;
    }
    .recipe-summary-container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10%;
        margin:3% 0%;
        max-height:20rem;
    }
    .recipe-summary{
        line-height: 1.5rem;
    }
    .cooking-instruction{
        margin-top:1.5rem;
    }

    .recipe-block-title{
        margin-bottom:1.2rem;
        font-family: 'Zen Dots', cursive;
        font-size:1.2rem;
        color:$text-color;
    }
    .food-title{
        max-width:500px;
    }
    .Ingredients{
        max-height:19rem;
        overflow: auto;
        .Ingredient-item{
            margin:3% 0;
            max-width:400px;
        }

    }
    //Nutritions
    .recipe-nutrition{
        table, td {
            border: 1px solid black;
          }
          td{
              padding:7px 15px;
              text-align: center;
          }
        .row-title{
            text-align: left;
            font-weight:bold;
        }
    }

    .cooking-instruction{
        ol{
            li{
                line-height: 1.5rem;
                margin:1rem 0;
                margin-left:1rem;
                input{
                    margin:5px;
                    width:20px;
                    height:20px;
                }
            }
        }
    }


/********************** Media Query***********************/
// 1980px above
@media screen and (min-width: 1980px){
    .content-container{
        padding:3% 12%;
    }
    .recipe-detail{
        max-height:80rem;
        
    }
}

//Tablet size max-768px
@media screen and(max-width:768px){
    //button
    body{
        font-size:0.8rem;
        background-size:unset;
        background-position:center center;
    }
    .button-default{
        font-size:0.8rem;
        margin:0.8rem 0.2rem;
    }
    .food-container{
        grid-template-columns: repeat(2, 1fr);
    }
    //Search
    .resultNumber{
        font-size:1.2rem;
    }
    .search-container{
        padding:3% 6%;
    }
    .searchSelect{
        padding:0.75rem 0.25rem;
        max-width:5rem;
    }
    .searchInput{
        max-width:5rem;
    }
    .searchOption{
        margin:1.5rem 0;
        width:100%;
    }
    .complex-Search{
        margin-top:1rem;
        .button-default{
            width:100%;
        }

    }

    //Calculator
    .calculator{
        select{
            height:1.7rem;
        }
    }
    .cal-button{
        float: right;
        clear: both;
    }

    .Instruction{
        text-align: center;
        font-size: 1.2rem;
    }
    .unit-container{
        display:flex;
        p{
            margin-top: 1.4rem;
            margin-left: 1rem;
        }
    }

    //Recipe
    .recipe-detail-container{
        padding:0;
    }
    .recipe-detail{
        .recipe-summary-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
             margin: 3% 0%;
             max-height:unset;
        }
        .Ingredients{
            margin-top:1rem;
        }
        .recipe-image{
            max-width:100%;
        }
    }

}

//Mobile max-425px;
@media  screen and(max-width:425px){
    #root{
        background-position-x: center;
    }
    .food-container{
        grid-template-columns: repeat(1, 1fr);
        padding:0;
        margin-top:1rem;
    }
    .search-container{
        padding:8% 7%;
    }

    .calculator{
        input{
            width:100%;
            padding:0 0.5rem;
        }
        .cal-button{
            width:100%;
            float:unset;
            clear:unset;
        }
    }

    .unit-container{
        p{
            margin-left:0.5rem;
        }
    }
    .recipe-detail-container{
        padding: 2% 2% !important;
        .recipe-detail{
            max-height:45rem;
            display:flex;
            flex-direction: column;
        }
    }
}